@charset "utf-8";
/* CSS Document */

.mid_img{
	display:none;
	position:absolute;
    top:0;
    z-index:10000;
	padding:7px;
    background-color: #999;
	
}

.mid_img img{
	position:relative;
}

.img_slyder_container a img{
	border:#09C 1px solid;
	
}